@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@property --dust {
  syntax: "<color>";
  inherits: false;
  initial-value: #bcbcbc;
}

@property --blank-white {
  syntax: "<color>";
  inherits: false;
  initial-value: #f7f7f7;
}

@property --horizon-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: #82bfe9;
}

@property --light-horizon-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: #abd9f7;
}

@property --black-olive {
  syntax: "<color>";
  inherits: false;
  initial-value: #13171b;
}

@property --goshawk-black {
  syntax: "<color>";
  inherits: false;
  initial-value: #444444;
}

@property --french-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: #0a71c1;
}

/* Zurücksetzen von Standard-Border des Browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo Formatierung */
.logo {
  background-color: var(--light-horizon-blue);
  padding-top: 1vw;
  float: right;
  padding-right: 27vw;
}

.logo img{
  position: absolute;
  max-width: 25%;
}


main {
  background-color: var(--light-horizon-blue);
  z-index: -1;
}

/* Elemente Wrapper Formatierung */
.wrapper {
  max-width: 75%;
  margin: auto;
  margin-bottom: 3rem;
}

/* Erste headline Formatierung */
.wrapper > h1 {
  padding-top: 15%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 300%;
  margin-bottom: 8%;
}

/* Elemente in Liste Formatierung */
.accordion {
  background-color: var(--blank-white);
  color: var(--black-olive);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion:hover {
  background-color: var(--horizon-blue);
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.faq.active {
    border: none;
}

/* Aktives Feld Formatierung */
.active {
  background-color: var(--french-blue);
  color: var(--blank-white);
}

/* Panel Formatierung */
.panel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: var(--blank-white);
  display: none;
}

.panel p {
  color: var(--black-olive);
  font-size: 1.2rem;
  line-height: 1.4;
  padding-top: 3rem;
}

/* Formatierung Navigation-Bar */
.topnav {
  margin-left: 1vw;
  position: fixed;
  overflow: hidden;
  background-color: #787f8d;
  border-radius: 0.5rem;
  z-index: 500;
}

.topnav a {
  float: left;
  color: var(--blank-white);
  display: block;
  text-align: center;
  padding: 1.2rem 1.2rem;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.topnav a:hover {
  background-color: var(--horizon-blue);
  color: var(--black-olive);
}

.topnav a.active {
  background-color: var(--french-blue);
  color: var(--blank-white);
}

.topnav a.book {
  font-weight: light;
  background-color: #0080ff;
  color: var(--blank-white);
}

.topnav a.book:hover {
  font-weight: light;
  background-color: #025db7;
  color: #cde8ff;
}


/* CTA-Button Formatierung */
.customerservice-cta {
  padding-top: 2.5rem;
  background-color: var(--horizon-blue);
  padding-bottom:5%;
}

.customerservice-cta h2 {
  margin-bottom: 2.5rem;
  font-size: 2vw;
}

.customerservice-cta a.customerservice {
  padding-top: 10vh;
  background-color: var(--french-blue);
  color: var(--blank-white);
  border-radius: 5px;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 2.5vw;
  transition: 0.2s ease;
}

.customerservice-cta a.customerservice:hover {
  background-color: var(--light-horizon-blue);
  color: var(--goshawk-black);
}

/* bottom Formatierung*/
.bottom {
  position: relative;
  padding-bottom: 8rem;
}

.bottom p{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 20%;
  font-size: 90%;
  text-align: left;
  position: absolute;
}

.bottom p.contact {
  margin-left: 60%; 
}

/* Standard Hintergrund */
body {
  background-color: var(--blank-white);
}

/* Standard Formatierung */
div {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}



