@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/* Farbschemata */
:root {
  --blank-white: #f7f7f7;
  --slight-grey: #e7e7e7;
  --horizon-blue: #82bfe9;
  --light-horizon-blue: #abd9f7;
  --black-olive: #13171b;
  --goshawk-black: #444444;
  --french-blue: #0a71c1;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basis-Styles */
body {
  background-color: var(--blank-white);
  font-family: "Raleway", sans-serif;
}

/* Header & Navigation */
header {
  position: relative;
}

.topnav {
  margin-left: 1vw;
  position: fixed;
  overflow: hidden;
  background-color: #787f8d;
  border-radius: 0.5rem;
  z-index: 500;
}

.topnav a {
  float: left;
  color: var(--blank-white);
  display: block;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: var(--horizon-blue);
  color: var(--black-olive);
}

.topnav a.active {
  background-color: var(--french-blue);
  color: var(--blank-white);
}

.topnav a.book {
  font-weight: 300;
  background-color: #0080ff;
  color: var(--blank-white);
}

.topnav a.book:hover {
  background-color: #025db7;
  color: #cde8ff;
}

/* Footer */
footer {
  position: relative;
  padding: 1.5rem 10%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.impressum {
  color: var(--goshawk-black);
  text-decoration: none;
  text-decoration-color: var(--goshawk-black);
}

/* Sources */
.sourceslist {
  padding: 0.5rem;
  background-color: #f0f0f0;
  color: black;
  font-size: 0.5rem;
  text-decoration: none;
}

/* Banner und Logo */
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  display: block;
}

.logo {
  position: absolute;
  top: 2% !important;
  right: 2% !important;
  z-index: 10;
  margin-left: 75vw;
}

.logo img {
  max-width: 100vw;
  background: transparent;
}

.greeting {
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--blank-white);
  text-shadow: 0.1rem 0.3rem #787f8d;
  pointer-events: none;
}

.greeting1 {
  font-weight: bold;
  font-size: 8vw;
  top: 50%;
  transform: translateY(-50%);
  -webkit-text-stroke: 0.1rem var(--blank-white);
}

.greeting2 {
  font-weight: bolder;
  font-size: 13vw;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0.1rem 0.3rem var(--french-blue);
}

/* Call-to-Action */
.cta-whyus {
  background-color: var(--blank-white);
  padding: 2rem 0;
  margin-bottom: 12rem;
  padding-top: 18rem;
}

.cta-whyus .container {
  text-align: center;
}

.main-text {
  font-size: 6vw;
  color: var(--french-blue);
  font-weight: bolder;
  margin-bottom: 1rem;
}

.sub-text {
  font-size: 3vw;
  margin-top: 1rem;
  margin-bottom: 5.5rem;
}

#bookbtn {
  padding: 1.3rem 5rem;
  border-radius: 0.55rem;
  margin-top: 1rem;
  color: var(--blank-white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--french-blue);
  transform: scale(1);
  transition: 0.4s ease;
}

#bookbtn:hover {
  background-color: var(--horizon-blue);
  cursor: pointer;
  transform: scale(1.1);
}

#bookbtn:active {
  transform: scale(0.9);
}

/* Why Us */

/* Elemente Formatierung */

#whyus {
  font-size: 2vw;
  text-align: left;
  background-color: var(--light-horizon-blue);
}

.skalierbar {
  position: relative;
}

.skalierbar img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  max-width: 40%;
  height: auto;
}

.skalierbar h1 {
  padding-left: 50vw;
  padding-right: 1rem;
  padding-top: 8.5rem;
}

.skalierbar p {
  padding-top: 5vh;
  padding-right: 1rem;
  padding-bottom: 20vh;
  padding-left: 50vw;
}

.kostensparend {
  position: relative;
}

.kostensparend h1 {
  padding-left: 50vw;
  padding-right: 1rem;
  padding-top: 8.5rem;
}

.kostensparend p {
  padding-top: 5vh;
  padding-bottom: 20vh;
  padding-right: 1rem;
  padding-left: 50vw;
}

.kostensparend img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  max-width: 40%;
  height: auto;
}

.zuverl채ssig {
  position: relative;
  background-color: var(--horizon-blue);
}

.zuverl채ssig h1 {
  padding-left: 5vw;
  padding-right: 1rem;
  padding-top: 8.5rem;
}

.zuverl채ssig p {
  padding-top: 5vh;
  padding-right: 1rem;
  padding-bottom: 20vh;
  padding-left: 5vw;
}

.norisk {
  position: relative;
  background-color: var(--horizon-blue);
}

.norisk h1 {
  padding-right: 1rem;
  padding-left: 5vw;
  padding-top: 8.5rem;
}

.norisk p {
  padding-top: 5vh;
  padding-right: 1rem;
  padding-bottom: 20vh;
  padding-left: 5vw;
}

.nachhaltigkeit {
  position: relative;
}

.nachhaltigkeit h1 {
  padding-left: 50vw;
  padding-top: 8.5rem;
  padding-right: 1rem;
}

.nachhaltigkeit p {
  padding-top: 5vh;
  padding-right: 1rem;
  padding-bottom: 10rem;
  padding-left: 50vw;
}

.nachhaltigkeit img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  max-width: 40%;
  height: auto;
}

/* Book */

.book {

  text-align: center;
  padding-top: 10vw;
  background-color: var(--light-horizon-blue);
  padding-bottom: 10rem;
}

.book h1.ctatext {
  padding-top: 4rem;
  background-color: var(--horizon-blue);
  font-size: 3.5rem;
  font-weight: bolder;
  padding-bottom: 4rem;
}

.book p.phone {
  background-color: var(--horizon-blue);
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.book p.mail {
  background-color: var(--horizon-blue);
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.book h2 {
  font-size: 3.5rem;
  padding-top: 5rem;
  padding-bottom: 6vh;
}

/* CTA-Button Formatierung */
.customerservice-cta {
  padding-top: 5rem;
  background-color: var(--light-horizon-blue);
  padding-bottom: 10rem;
}

button.customerservice {
  font-family: "Raleway", sans-serif;
  border: none;
  background-color: var(--french-blue);
  color: var(--blank-white);
  border-radius: 1rem;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 3vw;
  transition: 0.3s ease;
  cursor: pointer;
}

.customerservice:hover {
  background-color: var(--horizon-blue);
  color: var(--goshawk-black);
  transform: scale(1.1);
}

.customerservice:active {
  transform: scale(0.9);
}

/* FAQ */

/* Elemente Wrapper Formatierung */
.faqformat {
  background-color: var(--slight-grey);
}

#faq-section {
  max-width: 75%;
  margin: auto;
  padding-bottom: 3rem;
}

/* Erste headline Formatierung */
#faq-section > h1 {
  padding-top: 15%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 300%;
  padding-bottom: 8%;
}

/* Elemente in Liste Formatierung */
.accordion {
  background-color: var(--blank-white);
  color: var(--black-olive);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion:hover {
  background-color: var(--horizon-blue);
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}

.faq a {
  color: var(--french-blue);
  text-decoration-color: var(--french-blue);
}

.faq .active {
  border: none;
}

/* Aktives Feld Formatierung */
.active {
  background-color: var(--french-blue);
  color: var(--blank-white);
}

/* Panel Formatierung */
.panel {
  padding: 0 1.5rem 2rem 1.5rem;
  overflow: hidden;
  background-color: var(--blank-white);
  display: none;
}

.panel p {
  color: var(--black-olive);
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 3rem;
}

/* Ratings */

.ratings {
  text-align: center;
  background-color: var(--blank-white);
}

.ratings h1 {
  font-size: 4.5rem;
}

.ratings img {
  margin: 1.5rem;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.ratings h1 {
  font-weight: bold;
  color: var(--goshawk-black);
  padding-top: 6rem;
  margin-bottom: 3rem;
}

.rating-text {
  margin: 0.5rem;
  font-size: 2rem;
  margin-left: 15vw;
  margin-right: 15vw;
  color: var(--goshawk-black);
}

.rating-text strong {
  color: var(--french-blue);
}

.rating-who {
  font-size: 1rem;
  margin: 1.4rem;
  color: var(--black-olive);
}

.ratings .fa.fa-star {
  letter-spacing: 1rem;
  color: var(--french-blue);
  font-size: 4.5rem;
  padding-bottom: 4rem;
}

/* Kundenportal Formatierung */

.formcontainer {
  display: flex;
  transition: 0.4s ease;
  justify-content: center;
  align-items: center;
  height: 60rem;
  color: var(--blank-white);
  opacity: 0;
  transform: scale(0);
  margin-bottom: -110vh;
}

.formcontainer.active {
  opacity: 100;
  transform: scale(1);
  margin-top: 10%;
  margin-bottom: 0;
  padding-top: 5rem;
}

.formcontainer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.formcontainer label {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.formcontainer textarea {
  width: 100%;
  height: 15rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  resize: none;
}

.formcontainer input {
  width: 50vw;
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.formcontainer input::placeholder,
.formcontainer textarea::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  color: var(--goshawk-black);
  opacity: 0.5;
}

.closeForm {
  text-align: center;
  font-weight: bold;
  color: var(--goshawk-black);
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  margin-top: 1.2rem;
  padding: 1rem 12rem 1rem 12rem;
  border: none;
  border-radius: 5px;
  background-color: var(--light-horizon-blue);
  transition: 0.3s ease;
}

.closeForm:hover {
  cursor: pointer;
  background-color: var(--horizon-blue);
  transform: scale(1.1);
}

.closeForm:active {
  transition: 0.1s ease;
  background-color: var(--light-horizon-blue);
  transform: scale(0.9);
}

#exitForm {
  letter-spacing: 0;
  transform: scale(0.7);
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 4rem;
  background-color: var(--goshawk-black);
  color: var(--blank-white);
  transition: 0.3s ease;
}

#exitForm:hover {
  transform: scale(0.8);
}

#exitForm:active {
  transform: scale(0.6);
}

/* Impressum Formatierung */

.impressumsection {
  padding-top: 8rem;
  background-color: var(--french-blue);
  color: var(--blank-white);
  text-align: center;
  padding-bottom: 8rem;
}

.datenschutz {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
}

.datenschutz p {
  margin-top: 1rem;
}

.datenschutz h1 {
  font-size: 2rem;
}

.datenschutz p,
.datenschutz h1,
.datenschutz h2,
.datenschutz h3,
.datenschutz h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Success-Page */

.success {
  background-color: var(--french-blue);
  color: var(--blank-white);
  text-align: center;
  font-size: 1.3rem;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.success h1 {
  font-weight: bold;
  letter-spacing: 0.5rem;
  padding: 2rem 0rem 2rem 0rem;
}

.success p {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 4rem;
}

.returnBtn {
  background-color: var(--blank-white);
  color: var(--goshawk-black);
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.returnBtn:hover {
  background-color: var(--light-horizon-blue);
  font-size: 1.8rem;
}

.returnBtn:active {
  font-size: 1rem;
}

/* Burger Menu */

.burgerBtn {
  display: none;
  font-family: "Raleway", sans-serif;
  position: fixed;
  z-index: 1000;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
  margin: 0.3rem;
  font-size: 1rem;
  background-color: var(--french-blue);
  color: var(--blank-white);
}

#closeMenu {
  position: relative;
  border: none;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  * {
    font-family: 'Raleway', sans-serif;
  }

  .burgerBtn.active {
    display: none;
  }

  .burgerBtn {
    display: block;
  }

  .topnav {
    margin: 0.3rem;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 500;
  }

  .topnav.active {
    display: flex;
  }

  .topnav a {
    padding: 0.7rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    background: lightgray;
    width: 100%;
  }

  .topnav a:hover {
    background-color: var(--horizon-blue);
    color: var(--black-olive);
  }

  .topnav a.active {
    background-color: var(--french-blue);
    color: var(--blank-white);
  }

  .topnav a.book {
    font-weight: 300;
    background-color: #0080ff;
    color: var(--blank-white);
  }

  .topnav a.book:hover {
    background-color: #025db7;
    color: #cde8ff;
  }

  /* Ratings */

  .ratings h1 {
    font-size: 1.7rem;
  }

  .ratings {
    text-align: center;
    background-color: var(--blank-white);
  }

  .ratings img {
    margin: 1.5rem;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
  }

  .ratings h1 {
    font-weight: bold;
    color: var(--goshawk-black);
    padding-top: 6rem;
    margin-bottom: 3rem;
  }

  .rating-text {
    margin: 0.5rem;
    font-size: 1rem;
    margin-left: 15vw;
    margin-right: 15vw;
    color: var(--goshawk-black);
  }

  .rating-text strong {
    color: var(--french-blue);
  }

  .rating-who {
    font-size: 1rem;
    margin: 1.4rem;
    color: var(--black-olive);
  }

  .ratings .fa.fa-star {
    letter-spacing: 0.5rem;
    color: var(--french-blue);
    font-size: 2.5rem;
    padding-bottom: 4rem;
  }

  /* Book */

  .book h1.ctatext {
    font-size: 2rem;
  }

  .book p.phone {
    font-size: 1.5rem;
  }

  .book p.mail {
    font-size: 1.5rem;
  }

  .book h2 {
    font-size: 1.5rem;
  }

  /* CTA-Button Formatierung */

  button.customerservice {
    font-size: 5.5vw;
  }

  /* Why Us */

  /* Elemente Formatierung */

  #whyus {
    font-size: 2vw;
    background-color: var(--light-horizon-blue);
  }

  .arguments {
    text-align: center;
    position: relative; /* So the absolute image is positioned relative to this container */
  }

  .arguments img {
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 100%;
    border-radius: 0px;
    height: auto;
  }

  .arguments h1 {
    font-size: 2rem;
    padding-left: 5vw;
    text-align: center;
  }

  .skalierbar {
    padding-top: 10rem;
  }

  .nachhaltigkeit {
    padding-top: 8rem;

  }

  .kostensparend {
    padding-top: 12rem;
  }

  .arguments p {
    padding-left: 5vw;
    font-size: 0.8rem;
  }

  .zuverl채ssig h1,
  .norisk h1 {
    padding-top: 5rem;
  }

  .nachhaltigkeit img {
    top: 20%;
  }

  .skalierbar img {
    top: 25%;
  }

  .kostensparend img {
    top: 26%;
  }

  /* Call-to-Action */
  .cta-whyus {
    padding-bottom: 8rem;
    padding-top: 16rem;
  }

  .main-text {
    font-size: 2rem;
  }

  .sub-text {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
  }

  #bookbtn {
    padding: 1.3rem 2rem;
    font-size: 1.6rem;
  }

  /* Banner und Logo */
  .banner {
    position: relative;
    overflow: hidden;
  }

  .banner img {
    object-fit: fill;
    width: 250%;
    display: flex;
  }

  .logo {
    position: absolute;
    top: 2% !important;
    right: 2% !important;
    z-index: 10;
    margin-right: 10vw;
  }

  .logo img {
    max-width: 50vw;
    margin-right: 10rem;
    background: transparent;
  }

  .greeting {
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--blank-white);
    text-shadow: 0.1rem 0.3rem #787f8d;
    pointer-events: none;
  }

  .greeting1 {
    font-weight: bold;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-text-stroke: 0.1rem var(--blank-white);
  }

  .greeting2 {
    font-weight: bolder;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0.1rem 0.3rem var(--french-blue);
  }

  /* FAQ */
  #faq-section > h1 {
    font-size: 150%;
  }

  .accordion {
    font-size: 1rem;
  }

  /* Footer */
  footer {
    position: relative;
    padding: 1.5rem 10%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.9rem;
  }

  .impressum,
  .contact {
    font-size: 0.8rem;
  }

  .contact {
    margin-top: 2rem;
  }

  /* Kundenportal Formatierung */

  .formcontainer.active {
    height: 60rem;
  }

  .formcontainer h1 {
    font-size: 2rem;
  }

  .formcontainer textarea {
    width: 90%;
    height: 15rem;
    font-size: 1.4rem;
  }

  .formcontainer input {
    width: 75%;
    font-size: 1.5rem;
  }

  .closeForm {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 1rem 5rem 1rem 5rem;
  }

  #exitForm {
    margin-top: 1rem;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  * {
  }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
  }
}
