@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@property --floral-white {
  syntax: "<color>";
  inherits: false;
  initial-value: #fffcf2ff;
}

@property --timberwolf {
  syntax: "<color>";
  inherits: false;
  initial-value: #ccc5b9ff;
}

@property --black-olive {
  syntax: "<color>";
  inherits: false;
  initial-value: #403d39ff;
}

@property --eerie-black {
  syntax: "<color>";
  inherits: false;
  initial-value: #252422ff;
}

@property --flame {
  syntax: "<color>";
  inherits: false;
  initial-value: #e84545;
}


/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #696969;
    color: var(--eerie-black);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--flame);
    color: var(--floral-white);
  }

  .topnav a.book {
    background-color: #ff9898;
    color: var(--floral-white);
  }
  